/*sets up nav bar, color, border, flex and sticky position*/
#menu-bar{
  background-color: #333333;
  border-color: #333333;
  border-style: solid;
  border-width: thick;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  top:0;
  height:50px;
  z-index: 1000;
  text-align: center;
  position:sticky;
}
/*sets up nav bar icons*/
.bar-images{
  height:30px;
  width:30px;
  padding-left: 20px;
}
/*sets up navbar sections with text and icons*/
#log-in, #search, #topics {
  display:flex;
  text-align: center;
}
/*sets up advertisement icon size*/
#ad-icon{
width:250px;
height:40px;
cursor: pointer;
}
/*sets up login-section*/
  #log-in{
    margin-right:10px;
  }
  #log-in-icon{
    margin-right:2px;
    margin-top: 8px;
  }
/*sets up navbar title*/
h1{
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:white;
  text-align: center;
  flex-basis: 75%;
  cursor: pointer;
}
/*sets up navbar headings*/
h5{
  font: 9px "Benton Black",Arial,sans-serif;  color:white;
  text-align: center;
  padding-left: 5px;

}
/*sets up indented body*/
#indented-body{
  padding-left: 5%;
}
/*sets up article heading*/
h2{
  font-family: FBKisDisplay;
  font-weight: 400;
  font-style: normal;
  font-size:44px;
}
#sivonne-pic{
  width: 5%;
  height: 3%;
  padding-right:1%;
  border-right-width: thin;
  border-right-style: solid;
  margin-right: 1%;
}
#author-section{
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E5E5E5;
  padding-top: 15px;
  padding-bottom: 10px;
  display:flex;
  align-items: center;
}

}
h3{
  font-family: avenir, sans-serif;
  font-weight: 400;
  color: #E5E5E5;
  font-size: 12px;
 }
b{
 color: #333;
 font-family: avenir, sans-serif;
 font-size: 12px;
}

#pinned{
  width:80%;
  padding-top: 2%;
}
p{

font-family: Georgia,serif;
line-height: 26px;
color: #000;
font-size: 18px;
font-weight: 400;
}
/*High Maps CSS*/
#container {
  width:60%;
  margin-bottom: 5%;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


/*Data Table CSS*/
/*#ajax-table{
  margin-bottom: 25px;
}
#Argentina{
  position:absolute;
  top:25%;
  left:10%;
  background:#fff;
  border:1px solid;
  box-shadow: 5px 5px 5px #eee;
}
.hidden{
  opacity: 0;
}*/
#basic-table{
  margin-top: 10px;
  width:70%;
  height:60%;

}
#section8{
  margin-left: 20px;
}

/*Tau Charts*/
#results{
flex-basis: 50%;
}
/*want to wrap text around the graph*/
.box{
  display: flex;
}
#section2, #container, #section6, #basic-table, #section8{
  flex-basis: 50%;
  height:100%;
}

#section6{
  flex-basis: 50%;
  padding-left: 10px;
}
#table-formatting{
  padding-bottom: .5px;
}

/*Responsive Elements*/
@media only screen and (max-width: 575px) {
  #author-section{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;/*sets height of rows*/
    grid-template-areas:/*designates areas to certain sections*/
    'icon byline'/*heading*/
  }
  #sivonne-pic{
    grid-area: icon;
    width:50px;
    height: 50px;
  }
  h3{
    grid-area: byline;
  }
  #search, #news-heading, #ad-icon, #log-in-heading {
    display:none;
  }

  h1{
  align-content: center;
  font-size: 18px;
}

    #indented-body{
     margin:2%;
    }
    .box {
      display:block;
    }
    #container{
      width:100%;
      margin-right:3%;
    }
    #results{
    width:100%;
    height:100%;
    }
}
